p, li, a {
color:rgb(18, 163, 37);
font-size: 20px;
font-family: Verdana, Geneva, Tahoma, sans-serif, Tahoma, sans-serif;
}
body {
    background-image:url(Images/Untitled-1-01.png);
}
h1, h2, h3, h3, h4 {
color:white;
font-size: 40px;
border: 80px;
}
.flexcontainer {
    display: flex;
    flex-direction: row;
}
.flexcontain {
    display: flex;
    flex-direction: column;
}
.flexitem {
    box-sizing: border-box;
    padding-right: 10px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* position:absolute ; left:50px; bottom:20px; right: 20px; */
}
.imageborder{
    background-color: black;
    border-width: 100%;
}
.imageborder2{
    background-color:darkgray;
    border-width: 100%;
}
.spaces {
    padding-top: 1px; width:110%;
  box-sizing: border-box;
  box-sizing: -100px;
position:fixed; left: -25px;
background-color: black; background-origin: padding-box;
padding-left: 50px;
    border-width: 100%;
}
.spaces2 {
    padding-top: 1px;
    box-sizing: border-box;
  position:fixed; left: 125px;
  background-color: black; 
    border-width: 100%;
  }
  .spaces3 {
    padding-top: 1px;
    box-sizing: border-box;
  position:fixed; left: 320px;
  background-color: black;
    border-width: 100%;
  }
  .spaces4 {
    padding-top: 1px;
    box-sizing: border-box; width:100%;
  position:fixed; left: 450px;
  background-color: black;
      
  }
  .spaces5 {
    padding-top: 1px;
    box-sizing: border-box; width:100%;
  position:fixed; left: 630px;
  background-color: black;
  }
  .spaces6 {
    padding-top: 1px;
    box-sizing: border-box; width:100%;
  position:fixed; left: 750px;
  background-color: black;
  }
  .spaces7 {
    padding-top: 7px;
    box-sizing: border-box; width:100%;
  position:fixed; left: 1250px;
  background-color: black;
  }

  .text2 {
    background-image: repeating-linear-gradient(to left, indigo, yellow, orange, red);
    background-clip: border-box;
    -webkit-background-clip:text; 
    color: transparent;
  }